@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12 ">
        <p class="text-center">You dont have any feed at this time. Did you try subcribing <a href="/Home/Subscriptions">here </a> first ?</p>
    </div>
    <div>
       
    </div>
</div>