@{
    ViewBag.Title = "Subscriptions";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h4>Available Feeds</h4>
        <small>Here you will find all feeds avaible for you to subscribe, have fun.</small>
    </div>

</div>

@Html.Partial("~/Views/Home/_SubscriptionsFeeds.cshtml")
